*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    /* 背景渐变色 */
    background: linear-gradient(#99f, #f99);
}

body,
.navbar,
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    position: relative;
    padding: 20px;
    border-radius: 50px;
    background-color: #fff;
}

.navbar input{
    width: 40px;
    height: 40px;
    cursor: pointer;
    /* 全透明，看不见 */
    opacity: 0;
}

.navbar span{
    /* 绝对定位 */
    position: absolute;
    left: 25px;
    top: calc(50% - 10px);
    width: 30px;
    height: 4px;
    border-radius: 15px;
    background-color: #999;
    /* 这里解决一个问题，span挡着复选框，鼠标放在span上时点不到复选框 */
    /* 写这个属性就能解决这个问题 即便鼠标放在span上也能选中复选框 */
    pointer-events: none;
    /* 收回来的时候过渡刚好相反 */
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out 0.3s;
}


/* 因为第二条线在navbar这个元素内的第三个位置  所以括号里写3 */
.navbar span:nth-child(3){
    top: calc(50% + 6px);
}

.navbar ul{
    width: 0;
    overflow: hidden;
    /* 这个属性能让文字在一行排列 不换行 */
    white-space: nowrap;
    transition: all 0.5s;
}

.navbar ul li{
    list-style: none;
    margin: 0 15px;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.navbar ul li a:hover{
    color: #fb7299;
}

/* ~ 表示选择下面所有的兄弟 */
/* checked是当选中的复选框的时候 */
 .navbar input:checked ~ ul{
    width: 350px;
}

.navbar input:checked ~ span:nth-child(2){
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    background-color: #fb7299;
    /* 加个过渡 */
    /* 先执行top，然后0.3s后执行transform */
    transition: top .3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}

.navbar input:checked ~ span:nth-child(3){
    top: calc(50% - 2px);
    transform: rotate(45deg);
    background-color: #fb7299;
    transition: top .3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}